h1 {
color:white;
text-align: center;
}
body {
 background-image: url(https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3370118:1684342897/Neymar.jpg?f=16x9&h=720&q=0.8&w=1280&$p$f$h$q$w=8955a9d) ;
}

p {
color:white;

}

div {
    text-align: center;
}
